/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: url("./public/presentation.JPG");
    background:linear-gradient(to bottom, rgba(0,0,0,0.4) 10%, rgba(0,0,0,0.4)), url("./public/presentation.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
    height: 780px;
}

.top{
    padding-top: 40px;
}

header img{
    width: 70px;
    height: 70px;
}

header ul li:first-child{
    text-decoration: underline;
}

li{
    margin-right: 30px;
    cursor: pointer;
    list-style: none;
}

header ul{
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.btn-green{
    background-color: rgb(26, 219, 0);
    padding: 7px;
    border-radius: 6px;
    border: 0;
    color: white;
    margin-right: 40px;
}

.hero{
    margin-top: 150px;
    margin-left: 80px;
}

.hero h1{
    font-size: 50px;
}

.hero h2{
    font-size: 50px;
}

.hero div{
    margin-top: 30px;
    width: 40%;
    font-size: 25px;
}

.hero button{
    margin-top: 50px;
    margin-left: 30px;
    padding: 15px;
    font-weight: bold;
}

#one{
    margin-top: 60px;
}

#one h2{
    color: rgb(57, 252, 32);
    font-size: 60px;
}

#one p{
    font-weight: bolder;
    font-size: 25px;
}

.dash{
    border-top: 1px solid black;
    width: 10px;
}

.next{
    text-align: center;
    width: 80%;
}

#two{
    margin-top: 50px;

}

#two img{
    margin-left: 30px;
    width: 120%;
}

#two h2{
    text-align: start;
}

#two p, #two a{
    text-align: start;
    margin-left: 40px;
    font-size: 25px;
}

#two a{
    color: rgb(57, 252, 32);
    text-decoration: underline;
}

.row div:last-of-type{
    width: 70%;
}

#three{
    margin-top: 100px;
    text-align: center;
    background-color: rgb(57, 252, 32);
    color: white;
    padding-top: 50px;
}


#three img{
    margin-top: 20px;
    cursor: pointer;
    width: 80%;
}

@media (max-width:920px){
    .links{
        display: none;
    }

    .shrink{
        font-size: 60%;
    }
}